.header {
  /* border for visualisation */
  /*  border: 1px, dashed, red; */

  display: grid;
  width: 1100px;
  height: 293px;
  grid-template-areas: "headerlinks headerlogo headercontacts";
  grid-template-columns: 1fr 1fr 1fr;
  padding: 90px 50px;
}
.headerlogo {
  display: block;
  grid-area: headerlogo;
  place-self: center center;
  width: 150px;
  height: fit-content;
}
.headernav {
  grid-area: headerlinks;
  place-self: center start;
  display: flex;
  font-size: 18px;
}
.headerlinkslist {
  display: flex;
  gap: 32px;
  text-wrap: nowrap;
  list-style-type: circle;
}
.contactinfo {
  grid-area: headercontacts;
  padding: 6px 0 0 70px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.contactinfolist {
  list-style-type: none;
}
.custom-image-style {
  filter: brightness(30%);
}
.cover {
  /* border for visualisation */
  /*border: 1px, dashed, red; */

  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: auto;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-color: rgb(255, 95, 148);
  background-size: cover;
  background-repeat: no-repeat;
}
.covertext {
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 2;
}
.covertext-left {
  padding-bottom: 15px;
  width: fit-content;
  height: fit-content;
  align-self: start;
}
.covertext-center {
  padding-bottom: 15px;
  width: fit-content;
  height: fit-content;
}
.covertext-right {
  padding-bottom: 105px;
  width: fit-content;
  height: fit-content;
  align-self: flex-end;
}
.cover-no-spacing {
  letter-spacing: 0;
}
.coverbottomtext {
  display: flex;
  gap: 110px;
  align-items: center;
  z-index: 2;
  color: white;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 20px;
  text-wrap: nowrap;
}
.place-bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  background-color: rgb(0, 0, 0, 0);
  border: 1px solid white;
  text-transform: uppercase;
}
.cover-overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.6);
  width: 1100px;
  height: 757px;
}
.auction-items-heading {
  /* position: absolute; */
  padding-left: 40px;
  width: auto;
  height: fit-content;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.auction-items {
  /* border for visualisation */
  border: 1px, dashed, red;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin-top: 180px;
  width: 1052px;
  min-height: 730px;
}
.auction-items-list {
  color: white;
  width: inherit;
  height: inherit;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auction-item {
  /* border for visualisation */
  /* border: 1px, dashed, red; */
  /* flex-direction: column;
    flex-basis: calc(100% / 3);
    justify-content: space-between; */

  display: grid;
  grid-column: 1;
  grid-row: 1;
  /* padding: 48px 40px; */
  max-width: 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}
.lot-name {
  min-width: 254px;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 120%;
}
.lot-desc {
  min-width: 254px;
  font-size: 20px;
  line-height: 120%;
}
.lot-image {
  max-width: 334px;
  min-height: 596px;
  z-index: -1;
}
.lots-link-more {
  display: flex;
  align-self: flex-end;
  width: fit-content;
  height: fit-content;
  padding: 0 0 0 40px;
  font-size: 20px;
}
